################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MentoriaNet/Classes/obj
/MentoriaNet/Classes/bin/Debug/net5.0
/MentoriaNet/.vs/MentoriaNet
/MentoriaNet/MentoriaNet/obj
/MentoriaNet/MentoriaNet/bin/Debug/net6.0
/MentoriaNet/Biblioteca/obj
/Microservices/Eventos/WebApplication1/obj
/Microservices/Eventos/.vs/Eventos/v17
/Microservices/Eventos/WebApplication1/bin/Debug/net6.0
/Microservices/.vs
/Microservices/Eventos/.vs/Eventos
/Microservices/Eventos/CarrinhoDeCompra/obj/Debug/net6.0
/Microservices/Eventos/CarrinhoDeCompra/bin/Debug/net6.0
/Microservices/Eventos/CarrinhoDeCompra/obj
